ul {
  list-style-type: none;
  padding: 5px;
}
h5{
  color: #e9ecef;
  font-weight: normal;
}
.list-group-item {
  background-color: transparent;
}
.thead-light{
  border-radius: 5px;
}
.nav-item{
  display: flex;
  float: right;
  height: 30px;
  width: 30px;
}
.nav-link{
  padding:0 3px 30px 3px;
}
.row{
  margin-left: 10px;
}
.del:hover {
  background-color: #dc3545;
  color: aliceblue;
}
