<div class="container-fluid">
  <div class="row playlists" *ngIf='playlists'>
    <div class="vertical overflow-auto scroll col-md-3">
      <h3 class="header">Your Playlists:</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor='let playlist of playlists' (click) = 'onViewPlaylist(playlist.id, playlist.name, playlist.tracks)'>
          <div class="content">
            <div class="left">
              <a><h5>{{ playlist.name }}</h5></a>
              <p>Tracks: {{ playlist.tracks }}</p>
            </div>
            <a><span><img src='{{ playlist.image }}' class="img img-responsive" alt="{{ playlist.name }}"></span></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="overflow-auto scroll col-md-6" style="margin-top: 10px;">
      <app-tracks [playlists] = 'playlists' (playTrack) = 'playTrack($event)'></app-tracks>
    </div>
    <div class="vertical-left col-md-3" *ngIf="player">
      <img src="{{ imageUrl }}" class="track-img img-responsive" (click) = 'togglePlay()'>
      <h5 class="track-content">{{ trackName }}</h5>
      <p class="track-content">{{ trackArtists }}</p>
      <!-- <img src="https://img.icons8.com/cotton/64/000000/circled-pause.png"/> -->
      <!-- <i class="fa fa-pause-circle-o" aria-hidden="true"></i> -->
    </div>
  </div>
</div>


