.img{
  max-width: 100px;
  max-height: 100%;
  float: right;
  border-radius: 5px;
}
.list-group-item{
  /* height: 100px; */
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px;
  background-color: #e9ecef;
}
.left{
  max-width: 200px;
  margin: 15px;
  float: left;
  display: block;
}
.scroll{
  max-height: 650px;
}
.row{
  margin-right: 0;
  margin-left: 0;
}
.content{
  padding: 1px;
}
