/* You can add global styles to this file, and also import other style files */
.header{
  font-weight: normal;
  font-size: 24px;
  margin: 15px;
  color: #e9ecef;
  display: block;
}
.playlists{
  background-color: #343a40;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}
.vertical{
  border-right: aliceblue 1px solid;
}
.clickable {
  cursor: pointer;
}
