.list-group-item{
  height: 150px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e9ecef;
  padding: 2px;
}
p{
  margin: 0;
}
.img{
  max-width: 145px;
  max-height: 100%;
  float: right;
  border-radius: 5px;
}
.left{
  padding-left: 30px;
  padding-top: 10px;
}
a{
  text-decoration: none;
  color: black;
}
